.container{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 150px;
    background-image: url(https://vod-progressive.akamaized.net/exp=1619386706~acl=%2A%2F1260528579.mp4%2A~hmac=b1700ea50ed45c7b1099c7539b4bdc6f94d0ddb08661cfd61ce49ddff6824faf/vimeo-prod-skyfire-std-us/01/4729/12/323645553/1260528579.mp4?filename=Pexels+Videos+2015875.mp4);
   
}
.myStyle {
  margin: 10px auto;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  
}
.text{
    color: white;
    font-size: 5rem; 
    text-shadow: 0.1em 0.1em #333;
}